{% extends '::layoutbase.html.twig' %}
{% block title %}
    Juela :/
{% endblock %}
{% block principal %}
    <form method="POST">
        <label >Buscar</label>
        <input type="text" id="buscar" name="buscar">
        <input value="Buscar" type="submit">
    </form>
{% endblock %}
    {% block fer %}
        <script>
            $('document').ready(
                    function(){
                        $('#buscar').autocomplete(
                                {
                                    source : {{render(controller('AppBundle:Matricula:json')) }}
                                });
                    }
            );
        </script>
    {% endblock %}