{% extends "::layoutbase.html.twig" %}

{% block title %} Asignar niveles {% endblock %}

{% block principal %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-danger">
                    <div class="box-header">
                        <h3 class="box-title">Asignar docentes en niveles</h3>
                        <div class="box-tools">
                            <div class="input-group" style="width: 350px;">
                                <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Buscar">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>

                        <!--Impresion de errores-->
                        <!--Docente no existen-->
                        {% if error == 1 %}
                            <div class="alert alert-danger alert-dismissable">
                                <h4><i class="icon fa fa-ban"></i> Docentes no existen</h4>
                                <b>Error</b> no existe ning&uacute;n docente dentro del sistema.
                            </div>

                        <!--locales no definidos-->
                        {% elseif error == 2 %}
                            <div class="alert alert-danger alert-dismissable">
                                <h4><i class="icon fa fa-ban"></i> Locales no definidos</h4>
                                <b>Error</b> debe definir locales para poder asignar donde se impartiran las clases.
                            </div>

                        <!--niveles no creados-->
                        {% elseif error == 3 %}
                            <div class="alert alert-danger alert-dismissable">
                                <h4><i class="icon fa fa-ban"></i> Niveles no definidos</h4>
                                <b>Error</b> debe definir niveles.
                            </div>

                        <!--secciones no definidas-->
                        {% elseif error == 4 %}
                            <div class="alert alert-danger alert-dismissable">
                                <h4><i class="icon fa fa-ban"></i> Secciones no definidos</h4>
                                <b>Error</b> no se pueden definir docentes si no existen secciones para clases.
                            </div>

                        <!--clases-->
                        {% elseif error == 5 %}
                            <div class="alert alert-danger alert-dismissable">
                                <h4><i class="icon fa fa-ban"></i> Clases no definidos</h4>
                                <b>Error</b> no se han encontrado grupos de clases en el sistema.
                            </div>

                        {% endif %}
                        <!--Fin impresion de errores-->

                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>Docente</th>
                                <th>Niveles Asignados</th>
                                <th>Local</th>
                                <th>Secci&oacute;n</th>
                                <th>Horario</th>
                                <th>Opciones</th>
                            </tr>
                            {% for entity in form %}
                                <tr>
                                    <td>{{ entity.getNombredocente }}</td>
                                    <td>Nivel no asignado</td>
                                    <td>no asignado</td>
                                    <td>no asignado</td>
                                    <td>no asignado</td>
                                    <td>
                                        <div class="fc-button-group">
                                            <button class="btn btn-default btn-sm" data-widget="" data-toggle="tooltip" title="" data-original-title="Detalles"><i class="fa fa-eye"></i></button>
                                            <button class="btn btn-default btn-sm" data-widget="" data-toggle="tooltip" title="" data-original-title="Asignar Nivel"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-default btn-sm" data-target="#eliminar" data-toggle="tooltip" title="" data-original-title="Reasignar"><i class="fa fa-rotate-left "></i></button>

                                            <div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria_hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4>Eliminar docente</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            &iquest;Est&aacute; seguro que desea eliminar al docente {{ entity.getNombredocente }}?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a class="btn btn-default bg-red-gradient"> Eliminar </a>
                                                            <a class="btn btn-default pull-right" data-dismiss="modal"> Cancelar </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section>
{% endblock %}