{% extends "::layoutbase.html.twig" %}

{% block title %} Gestionar docente {% endblock %}

{% block principal %}
    <!--Cabecera de la seccion principal-->
    <section class="content-header">
        <h1>Gestion de Docentes</h1>
        <ol class="breadcrumb"></ol>
    </section>
    <!-- Fin de cabecera de seccion principal-->

    <!--Inicio de contenido-->
    <section class="content">
        <!--Inicia Primera fila de opciones-->
        <div class="row">
            <!--Opcion1-->
            <div class="col-lg-3 col-xs-6">
                <!--Small box-->
                <div class="small-box bg-green disabled">
                    <div class="inner">
                        <h3>Agregar</h3>
                        <p>Nuevo docente</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user-plus"></i>
                    </div>
                    <a  href="{{ path('agregarD') }}" class="small-box-footer">
                        Click para acceder
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <!--Small box-->
                <div class="small-box bg-blue disabled">
                    <div class="inner">
                        <h3>Consultar</h3>
                        <p>Docente</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-search"></i>
                    </div>
                    <a  href="{{ path('consultarD') }}" class="small-box-footer">
                        Click para acceder
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red disabled">
                    <div class="inner">
                        <h3>Eliminar</h3>
                        <p>Docente</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user-times"></i>
                    </div>
                    <a href="{{ path('eliminarD') }}" class="small-box-footer">
                        Click para acceder
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--Fin de contenido-->
{% endblock %}