{% extends '::pbase.html.twig' %}
{% block body %}
    <div class="container">
        <h2>Ingreso de Padre</h2>
        <br>
        <form class="form-horizontal" method="post" action="{{ path('padreinsert') }}">
            <div class="form-group">
                <label class="control-label col-lg-2" for="inputPadre">Nombre Padre</label>
                <div class="col-lg-7">
                    <input id="inputPadre" class="form-control" type="text" name="nombreP" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="inputTrabajoP">Lugar de Trabajo</label>
                <div class="col-lg-7">
                    <input id="inputTrabajoP" class="form-control" type="text" name="tP" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="inputtelP">Telefono</label>
                <div class="col-lg-7">
                    <input id="inputtelP" class="form-control" type="text" name="telP" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="inputMadre">Nombre Madre</label>
                <div class="col-lg-7">
                    <input id="inputMadre" class="form-control" type="text" name="nombreM" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="inputTrabajoM">Lugar de Trabajo</label>
                <div class="col-lg-7">
                    <input id="inputTrabajoM" class="form-control" type="text" name="tM" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="inputtelM">Telefono</label>
                <div class="col-lg-7">
                    <input id="inputtelM" class="form-control" type="text" name="telP" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-7">
                    <input class="btn bg-primary" type="submit" value="Guardar">
                </div>
            </div>
        </form>
    </div>
{% endblock %}