{% extends '::layoutbase.html.twig' %}
{% block principal %}
    <div class="container">
        <h2>Ingreso de Nueva Seccion</h2>
        <br>
        <form class="form-horizontal" method="post" action="{{ path('nvoseccion') }}">
            <div class="form-group">
                <label class="control-label col-lg-2" for="inputNombre">Nombre</label>
                <div class="col-lg-2">
                    <input id="inputNombre" class="form-control" type="text" name="nombre" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-2">
                    <input class="btn bg-primary" type="submit" value="Guardar">
                </div>
            </div>
        </form>
    </div>
{% endblock %}