{% extends "::layoutbase.html.twig" %}

    {% block principal %}
        <!-- Inicio de Cabecera-->
        <section class="content-header">
            <h1>Gestion de Fechas Principal</h1>
            <ol class="breadcrumb"></ol>
        </section>
        <!-- Fin de cabecera de contenidos-->

        <!--Inicio del cuerpo de contenido-->
        <section class="content">
            <!--Inicia Primera fila de opciones-->
            <div class="row">
                <!--Opcion1-->
                <div class="col-lg-3 col-xs-6">
                    <!--Small box-->
                    <div class="small-box bg-aqua disabled">
                        <div class="inner">
                            <h3>Fechas</h3>
                            <p>Modulos</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-cube"></i>
                        </div>
                        <a  href="{{ path("fechamod") }}" class="small-box-footer">
                            Click para acceder
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                    <!--Small box-->
                    <div class="small-box bg-green disabled">
                        <div class="inner">
                            <h3>Fechas</h3>
                            <p>Niveles</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <a  href="{{ path("fechaniv") }}" class="small-box-footer">
                            Click para acceder
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                    <!--Small box-->
                    <div class="small-box bg-purple">
                        <div class="inner">
                            <h3>Periodo</h3>
                            <p>Gestion de Horas</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-info"></i>
                        </div>
                        <a  href="{{ path("fechageshoras") }}" class="small-box-footer">
                            Click para acceder
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                    <!--Small box-->
                    <div class="small-box bg-teal">
                        <div class="inner">
                            <h3>Periodo</h3>
                            <p>Ingreso de Notas</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-th-list"></i>
                        </div>
                        <a  href="{{ path("fechanotas") }}" class="small-box-footer">
                            Click para acceder
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--Fin del cuerpo de contenido-->
    {% endblock %}